<header class="bg-slate-800 text-white p-3 rounded-md">
  <div class="mb-3">
    <span class="text-lg font-bold text-cyan-400">
      {{ brand() | uppercase }}
    </span>
  </div>

  <nav class="flex flex-col gap-2 text-sm">
    <a class="bg-slate-700 px-3 py-2 rounded hover:bg-slate-600"> Programación Web </a>

    <a class="bg-slate-700 px-3 py-2 rounded hover:bg-slate-600"> Evaluación Web </a>

    <a class="bg-slate-700 px-3 py-2 rounded hover:bg-slate-600"> Milton Andres Chuqui Chalco </a>

    <a class="bg-slate-700 px-3 py-2 rounded hover:bg-slate-600">
      Ingeniería en Ciencia de la Computación
    </a>

    <a
      href="https://github.com/Milton082"
      target="_blank"
      class="bg-cyan-500 px-3 py-2 rounded hover:bg-cyan-600 text-center"
    >
      Repositorio GitHub
    </a>
    <li>
      <a
        class="btn btn-primary w-full"
        routerLink="/paises"
        routerLinkActive="active"
        tarjet="_blank"
      >
        Ver Países
      </a>
    </li>
  </nav>
</header>
