<section class="bg-base-200 py-10 px-8">
  <div class="max-w-5xl mx-auto">
    <h1 class="text-4xl font-extrabold tracking-tight mb-1">Países del Mundo</h1>

    <p class="text-base-content/60 text-lg mb-6">Información obtenida desde REST Countries API</p>

    @if (paisesResource.hasValue()) {
      <p class="text-sm text-base-content/60">
        Total de países:
        {{ paisesResource.value()?.length }}
      </p>
    }
  </div>
</section>

@if (paisesResource.isLoading()) {
  <div class="flex justify-center items-center h-64">
    <span class="loading loading-spinner loading-lg text-primary"></span>
  </div>
}

@if (paisesResource.error()) {
  <div class="alert alert-error max-w-lg mx-auto mt-8">
    <span>Error al cargar los países.</span>
  </div>
}

@if (paisesResource.hasValue()) {
  <div class="max-w-5xl mx-auto px-8 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (pais of paisesResource.value(); track pais.name.common) {
        <a
          [routerLink]="['/pais', pais.name.common]"
          class="card card-bordered bg-base-100 shadow hover:shadow-lg transition-all duration-300 hover:-translate-y-1"
        >
          <figure class="pt-6">
            <img
              [src]="pais.flags.png"
              [alt]="pais.name.common"
              class="w-24 h-16 object-cover rounded"
            />
          </figure>

          <div class="card-body items-center text-center p-4">
            <h2 class="card-title text-base font-bold">
              {{ pais.name.common }}
            </h2>

            <p class="text-sm text-base-content/60">🌎 {{ pais.region }}</p>

            <p class="text-sm text-base-content/60">🏛️ {{ pais.capital }}</p>

            <span class="badge badge-primary mt-2">
              {{ pais.population | number }}
            </span>
          </div>
        </a>
      }
    </div>
  </div>
}
